@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1200px) {
    width: 1100px;
    padding: 10px;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-text {
  font-size: 16px;
}
.social-light-text {
  font-weight: 400;
}
