@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    padding: 10px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-text {
  font-size: 16px;
}

.social-light-text {
  font-weight: 400;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 20.3px;
}

ul .h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 27px;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.menu-open {
  overflow: hidden;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__overlay {
  display: block;
}

#menu__toggle:checked ~ .menu__box {
  right: 0;
}

.menu__btn {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #723000;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -12px;
}

.menu__btn > span::after {
  content: "";
  top: 12px;
}

.menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(34, 33, 33, 0.7);
  /* Колір темного бекграунда */
}

.menu__box {
  display: block;
  position: fixed;
  top: 0px;
  right: -100%;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
@media screen and (min-width: 768px) {
  .menu__box {
    width: 40%;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #414140;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.mobile-ham-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .mobile-ham-container {
    display: none;
  }
}

.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.schedule-text {
  font-size: 10px;
}

.schedule-phone {
  color: black;
  font-weight: 600;
}

.social-icon {
  width: 35px;
  height: 35px;
}

.social-list {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-first-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-mess {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.header-mess-text {
  margin-right: 10px;
}

.header-second-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.header-nav {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.page-header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: none;
}

@media screen and (min-width: 1200px) {
  .page-header {
    display: block;
  }
}
.hero-section {
  padding-top: 100px;
  background-image: url("/src/images/hero-background.jpg");
  background-size: cover;
  color: white;
}

.hero-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.hero-price {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.hero-info-img {
  width: 32px;
  height: 32px;
}

.hero-text {
  font-size: 12px;
}

.hero-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-info-card {
  display: flex;
  align-items: center;
}

.center-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-button {
  width: 250px;
  height: 80px;
  border-radius: 30px;
  border-style: none;
  background-color: #c56723;
  color: white;
  font-size: 14px;
  line-height: 65px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

.hero-info-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 14px;
  }
  .mt {
    margin-top: 30px;
  }
  .hero-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 1199px) {
  .hero-info-list .hero-list-item {
    width: 50%; /* 2 картки в ряду */
  }
}
/* Стилі для екранів шириною 1200 пікселів і більше */
@media screen and (min-width: 1200px) {
  .hero-info-list .hero-list-item {
    width: 25%; /* 4 картки в ряду */
  }
  .hero-section {
    padding-top: 150px;
  }
  .hero-title {
    font-size: 42px;
    line-height: 1.3;
  }
  .mt {
    margin-top: 0;
  }
  .hero-info-list {
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 70px;
  }
  .hero-info-container {
    width: 100%;
  }
  .hero-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-text {
    font-size: 20px;
  }
  .hero-info-img {
    width: 40px;
    height: 40px;
  }
  .hero-button {
    width: 500px;
    height: 90px;
  }
}
.materials-section {
  padding-top: 50px;
}

.materials-title {
  text-align: center;
  color: #414140;
  font-size: 19px;
  font-weight: 500;
}

.product-card-img {
  width: 120px;
  height: 100px;
}

.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 6px 6px 6px 6px;
  border-radius: 10px;
}

.product-card-desc {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.order-btn {
  border-radius: 50px;
  border-style: none;
  background: linear-gradient(261.62deg, rgba(255, 255, 255, 0.2) -1.02%, rgba(255, 255, 255, 0) 43.22%), linear-gradient(94.88deg, #98c08a 5.19%, #78aa67 57.4%);
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .product-card {
    width: 48%;
  }
  .materials-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .order-btn {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .materials-title {
    font-size: 40px;
    line-height: 1.5;
  }
  .product-card-img {
    width: 240px;
    height: 200px;
  }
  .product-card-desc {
    font-size: 20px;
  }
  .order-btn {
    height: 60px;
    font-size: 18px;
    width: 60%;
    margin-top: 20px;
  }
}
.form-container {
  /* width: 900px; */
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.form-step {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.form-step.active {
  height: auto;
  opacity: 1;
}

.form-btn {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
  background: linear-gradient(261.62deg, rgba(255, 255, 255, 0.2) -1.02%, rgba(255, 255, 255, 0) 43.22%), linear-gradient(94.88deg, #98c08a 5.19%, #78aa67 57.4%);
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .form-btn {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 30px;
    width: 150px;
  }
}
.form-btn:hover {
  background-color: #2c4350;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.photo-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=radio],
input[type=checkbox] {
  margin-right: 5px;
  visibility: hidden;
}

.form-title {
  color: #333;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .form-title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.form-step.step5 {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.form-step.step5.active {
  height: auto;
  opacity: 1;
}

.form-step.step5 label {
  display: block;
  margin-bottom: 10px;
}

.form-step.step5 input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

#stepCounter {
  font-size: 18px;
  font-weight: 600;
}

.img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 140px;
}

@media screen and (min-width: 768px) {
  .img-container {
    width: 160px;
    height: 135px;
  }
}
.quiz-img {
  height: 80px;
  width: 100px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .quiz-img {
    width: 70%;
    height: 160px;
    border-radius: 4px;
  }
}
.quiz-img.selected {
  border: 4px solid #78aa67; /* Зелений колір обводки */
  border-radius: 3px;
}

.photo-span {
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .photo-span {
    font-size: 14px;
  }
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .buttons-container {
    width: 370px;
  }
  .fd {
    flex-direction: column;
  }
}
.range-input {
  width: 100%;
}

.range-info-container {
  margin-top: 70px;
  text-align: center;
}

#submitForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px; /* висота полоски */
  background-color: #ccc; /* колір фону полоски */
  outline: none;
  margin: 5px 0; /* відступи */
  border-radius: 8px;
}

/* Стилізація ползунка для WebKit (Chrome, Safari) */
.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* ширина ползунка */
  height: 20px; /* висота ползунка */
  background: linear-gradient(261.62deg, rgba(255, 255, 255, 0.2) -1.02%, rgba(255, 255, 255, 0) 43.22%), linear-gradient(94.88deg, #98c08a 5.19%, #78aa67 57.4%);
  border: 2px solid #fff; /* колір обведення ползунка */
  border-radius: 50%; /* зробити ползунок круглим */
  cursor: pointer;
  margin-top: -3px; /* коригування позиції ползунка */
}

/* Стилізація ползунка для Gecko (Firefox) */
.range-input::-moz-range-thumb {
  width: 20px; /* ширина ползунка */
  height: 20px; /* висота ползунка */
  background: linear-gradient(261.62deg, rgba(255, 255, 255, 0.2) -1.02%, rgba(255, 255, 255, 0) 43.22%), linear-gradient(94.88deg, #98c08a 5.19%, #78aa67 57.4%);
  border: 2px solid #fff; /* колір обведення ползунка */
  border-radius: 50%; /* зробити ползунок круглим */
  cursor: pointer;
}

.step3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

select {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #555;
}

#name,
#phone {
  height: 30px;
  border-radius: 5px;
  border-style: none;
  background-color: #e9e7e7;
  padding-left: 10px;
}

.garant-title {
  font-size: 19px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-card-info {
  background-color: #a54602;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

.garant-section {
  padding-top: 40px;
}

.main-card-strong {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.main-card-text {
  font-size: 11px;
}

.grant-main-img {
  width: 140px;
  height: 110px;
}

.card-item {
  background-color: #eeeeee;
  text-align: center;
  color: black;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
}

.garant-card-container {
  margin-top: 15px;
}

.card-title {
  margin-bottom: 5px;
  font-size: 14px;
}

.card-info {
  font-size: 11px;
}

.card-img {
  width: 140px;
  height: 110px;
}

.info-img-cont {
  padding-top: 0px;
  margin-top: 10px;
  background-color: #a54602;
  border-radius: 10px;
}

.to-right {
  margin-left: 30px;
}

.p-t {
  padding-top: 8px;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .card-list {
    flex-direction: initial;
    flex-wrap: wrap;
  }
  .card-item {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .card-item {
    width: 49%;
  }
  .card-title,
  .main-card-strong {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .card-img,
  .grant-main-img {
    width: 200px;
    height: auto;
  }
  .main-card-text,
  .card-info {
    font-size: 14px;
  }
  .terminal-img {
    width: 280px;
    height: auto;
  }
}
.quest-title {
  text-align: center;
  font-size: 22px;
  color: #414140;
  margin-bottom: 10px;
}

.question-section {
  padding-top: 50px;
}

.quest-schedule {
  font-weight: 400;
  color: #414140;
  font-size: 9px;
}

.quest-item {
  text-align: center;
}

.quest-socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.quest-soc-mess {
  margin-bottom: 20px;
  font-size: 12px;
}

.d-n {
  display: none;
}

.footer {
  margin-top: 20px;
  padding: 40px 0 40px 0;
  background: #414140;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1200px) {
  .quest-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .quest-title {
    font-size: 30px;
  }
  .quest-schedule {
    font-size: 14px;
  }
  .mb15 {
    margin-bottom: 15px;
  }
  .schedule-phone {
    font-size: 18px;
  }
  .quest-soc-mess {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .mess-link:hover {
    cursor: pointer;
  }
}/*# sourceMappingURL=index.css.map */