.schedule-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.schedule-text{
    font-size: 10px;
}
.schedule-phone{
    color: black;
    font-weight: 600;
}