.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}
.schedule-text {
  font-size: 10px;
}
.schedule-phone {
  color: black;
  font-weight: 600;
}
.social-icon {
  width: 35px;
  height: 35px;
}
.social-list {
  margin-top: 5px;
  display: flex;
  //   justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-first-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-mess {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.header-mess-text {
  margin-right: 10px;
}
.header-second-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.header-nav {
  color: black;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.header-nav:hover {
  color: #78aa67; /* Новий колір при наведенні */
}
.page-header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: none;
}
@media screen and (min-width: 1200px) {
  .page-header {
    display: block;
  }
}
.header-mess {
  transition: transform 0.3s ease;
}
.mes-link {
  &:hover {
    transform: translateY(-5px);
  }
}
