.hero-section {
  padding-top: 100px;
  background-image: url('/src/images/hero-background.jpg');
  background-size: cover;
  color: white;
}
.hero-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: white;
}
.hero-price {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: white;
}
.hero-info-img {
  width: 32px;
  height: 32px;
}
.hero-text {
  font-size: 12px;
}
.hero-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero-info-card {
  display: flex;
  // justify-content: center;
  align-items: center;
  // width: 135px;
}
.center-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-button {
  width: 250px;
  height: 80px;
  border-radius: 30px;
  border-style: none;
  background-color: #c56723;
  color: white;
  font-size: 14px;
  line-height: 65px;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}
.hero-info-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 14px;
  }
  .mt {
    margin-top: 30px;
  }
  .hero-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1199px) {
  .hero-info-list .hero-list-item {
    width: 50%; /* 2 картки в ряду */
  }
}

/* Стилі для екранів шириною 1200 пікселів і більше */
@media screen and (min-width: 1200px) {
  .hero-info-list .hero-list-item {
    width: 25%; /* 4 картки в ряду */
  }
  .hero-section {
    padding-top: 150px;
  }
  .hero-title {
    font-size: 42px;
    line-height: 1.3;
  }
  .mt {
    margin-top: 0;
  }
  .hero-info-list {
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 70px;
  }
  .hero-info-container {
    width: 100%;
  }
  .hero-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hero-text {
    font-size: 20px;
  }
  .hero-info-img {
    width: 40px;
    height: 40px;
  }
  .hero-button {
    width: 500px;
    height: 90px;
  }
}
