.materials-section {
  padding-top: 50px;
}
.materials-title {
  text-align: center;
  color: $text-color;
  font-size: 19px;
  font-weight: 500;
}
.product-card-img {
  width: 120px;
  height: 100px;
}
.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 6px 6px 6px 6px;
  border-radius: 10px;
}
.product-card-desc {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.order-btn {
  border-radius: 50px;
  border-style: none;
  background: linear-gradient(
      261.62deg,
      rgba(255, 255, 255, 0.2) -1.02%,
      rgba(255, 255, 255, 0) 43.22%
    ),
    linear-gradient(94.88deg, #98c08a 5.19%, #78aa67 57.4%);
  width: 120px;
  height: 40px;
  color: white;
  font-weight: 600;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .product-card {
    width: 48%;
  }
  .materials-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .order-btn {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .materials-title {
    font-size: 40px;
    line-height: 1.5;
  }
  .product-card-img {
    width: 240px;
    height: 200px;
  }
  .product-card-desc {
    font-size: 20px;
  }
  .order-btn {
    height: 60px;
    font-size: 18px;
    width: 60%;
    margin-top: 20px;
  }
}
