.quest-title {
  text-align: center;
  font-size: 22px;
  color: #414140;
  margin-bottom: 10px;
}
.question-section {
  padding-top: 50px;
}
.quest-schedule {
  font-weight: 400;
  color: #414140;
  font-size: 9px;
}
.quest-item {
  text-align: center;
}
.quest-socials {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  //   align-items: center;
  gap: 10px;
}
.quest-soc-mess {
  margin-bottom: 20px;
  font-size: 12px;
}
.d-n {
  display: none;
}
.footer {
  margin-top: 20px;
  padding: 40px 0 40px 0;
  background: #414140;
  text-align: center;
  color: white;
}
@media screen and (min-width: 1200px) {
  .quest-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .quest-title {
    font-size: 30px;
  }
  .quest-schedule {
    font-size: 14px;
  }
  .mb15 {
    margin-bottom: 15px;
  }
  .schedule-phone {
    font-size: 18px;
  }
  .quest-soc-mess {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .mess-link:hover {
    cursor: pointer;
  }
}
